[Unit]
Description=PaxCalima2MQTT

[Service]
Type=simple
Restart=always
RestartSec=5
StandardOutput=journal
ExecStart=/home/pi/PaxCalima2MQTT/PaxCalima2MQTT.sh
User=pi

[Install]
WantedBy=multi-user.target
